@import '../../../assets/styles/theme/colors';

:host{
  display: block;
  margin-right: -0.2em;
  color: map-get($color, primaryDark);
  font-family: '8BIT WONDER', sans-serif;
  font-size: 120rem;
  letter-spacing: normal;
}

span{
  font-size: 1.116em;
}