@import '../../../assets/styles/theme/colors';

:host{
  display: block;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  box-shadow:
    12rem 0 0 0 map-get($color, primaryLight),
    -12rem 0 0 0 map-get($color, primaryLight),
    0 12rem 0 0 map-get($color, primaryLight),
    0 -12rem 0 0 map-get($color, primaryLight);
  background: map-get($color, primaryLight);
}

:host([size="small"]){
  width: 768rem;
}

:host([size="normal"]){
  width: 1024rem;
}

:host([size="big"]){
  width: 1600rem;
}